.table > tbody > tr > td {
  vertical-align: middle;
}
.pointer {
  cursor: pointer;
}
/* .no-item {
  height: 100%;
  width: 100%;
  position: relative;
} */
.no-item {
  display: grid;
  place-items: center;
  width: 100%;
  /* height: 100%; */
  /* background-image: url("./cart-empty.svg"); */
}
.no-itembtn {
  /* position: absolute; */
  /* top: 250px; */
  margin: auto;
  border: 1px solid;
  color: #ffffff;
  text-decoration: none;
}
